---
import { getCollection, CollectionEntry } from "astro:content";
import { formatBlogPosts, formatDate, slugify } from "../js/utils";

const { currentPost } = Astro.props;

const allPosts = await getCollection("blog");
const formattedPosts: CollectionEntry<"blog">[] = formatBlogPosts(allPosts);

const relatedPosts = formattedPosts.reduce((acc, post) => {
  if (currentPost.title === post.data.title) {
    return acc;
  }

  if (currentPost.category === post.data.category) {
    acc.push(post);
  }

  return acc;
}, []);
---

{
  relatedPosts.length > 0 && (
    <div>
      <h2 class="text-3xl font-bold">Related Posts</h2>
      <ul class="mt-2 flex flex-col space-y-2">
        {relatedPosts.map((post) => (
          <li class="flex flex-col items-center space-y-1 rounded-lg bg-white p-2">
            <h3 class="text-2xl font-bold">
              <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
            </h3>
            <small class="text-sm">
              <a href={`/author/${slugify(post.data.author)}/`}>
                {post.data.author}
              </a>{" "}
              · {formatDate(post.data.date)}
            </small>
          </li>
        ))}
      </ul>
    </div>
  )
}
